<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Student Info | SRM University Vadapalani Campus</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30701304-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<br />
	<div class="container">
		
		<div class="hero-unit">
			<h1>Student Placement Forms</h1>
			<p>
				SRM University Vadapalani Campus
			</p>
			
			<% if session[:admin_notice] %>
			
				<div class="alert alert-success">
					<%= session[:admin_notice] %>
				</div>
			
			<% 
			session[:admin_notice] = nil
			end %>
			
			<% if session[:admin_error] %>
			
				<div class="alert alert-error">
					<%= session[:admin_error] %>
				</div>
			
			<% 
			session[:admin_error] = nil
			end %>
			
			
			
			<button class="btn btn-large"><a href="/make">Download UG Excel FIle</a></button>
			
			<% if @sitestatus == 1 %>
			 <button class="btn btn-small btn-danger pull-right"><a href="/site/close" style="color:#fff">Close Website</a></button>
			<% else %>
			<button class="btn btn-small btn-success pull-right"><a href="/site/open" style="color:#fff">Open Website</a></button>
			<% end %>

			<br /><br />
			
			
			<form action="/admin/search" method="get" accept-charset="utf-8" class="form-search" placeholder="Search">
				
					<input type="text" name="query" class="input-medium search-query">
				<button type="submit" class="btn">Search</button>
			</form>
			
		</div>
		
		</div>
		
		<div class="container">
			
			
		
		
			<div class="row">
				<div class="page-header">
					<h1>
						Search Results for "<%= params[:query] %>"
						<small>ones who have filled in the form...</small>
					</h1>
				</div>
				
				<% if @s %>
				
				<table class="table table-striped table-bordered">
				<thead>
				<tr>
					<th>Registration Number</th>
					<th>Student Name</th>				
					<th>Branch</th>						
				</tr>

				</thead>

				<tbody>
				
				  <tr>
					<td><%= @s.regno %></td>
				  	<td><a href="/info/<%= @s.id %>"><%= @s.name %></a></td>
					<td>BTech - <%= @s.branch.upcase %></td>
				  </tr>
				
				</tbody>
			</table>
			
				<% else %>
				
					<div class="alert alert-error">
						Could not be found!
					</div>

				 	<% end %>
			</div>
			
			
			
		
		</div>
		</div>
		
</body>
</html>




