<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Student Info</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="/assets/bootstrap/js/jquery.js"></script>
	<script type="text/javascript" charset="utf-8">
		function toggleStatus() {
		    if ($('#tE').is(':checked')) {
				$('#sB').removeAttr('disabled');
		        
		    } else {
		        $('#sB').attr('disabled', true);
		    }   
		}
		$(function(){
			
			
		});
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30701304-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div class="container">
		<br /><br/>
		<div class="row">
			<h1>Student Info</h1>
		</div>
		<br />
		<div class="row">
			<form class="form-horizontal" action="/ug/<%= @s.id %>/save" method="post">
				<input type="hidden" name="_method" value="put" />
			        <fieldset>
			          
			
			<table class="table table-striped">
				
				<tbody>
					<tr>
						<td>
							
								<div class="control-group">
						            <label class="control-label">Student Name</label>
						            <div class="controls docs-input-sizes">
						              <input class="input" type="text"  name="student[name]" value="<%= @s.name %>">

						            </div>
						          </div>

								<div class="control-group">
						            <label class="control-label">Registration Number</label>
						            <div class="controls docs-input-sizes">
						              <input class="input" type="text"  name="student[regno]" value="<%= @s.regno %>">

						            </div>
						          </div>


									 <div class="control-group">
									            <label class="control-label">Branch</label>
									            <div class="controls">
									              <label class="radio">
												<% if @s.branch == "cse" %>
									                <input type="radio" name="student[branch]" id="optionsRadios1" value="cse" checked>
									                CSE
												<% else %>
													<input type="radio" name="student[branch]" id="optionsRadios1" value="cse">
													CSE
													<% end %>
									              </label>
									              <label class="radio">
													<% if @s.branch == "ece" %>
										                <input type="radio" name="student[branch]" id="optionsRadios2" value="ece" checked>
										                ECE
													<% else %>
														<input type="radio" name="student[branch]" id="optionsRadios2" value="ece">
										                ECE
														<% end %>
									                
									              </label>
												<label class="radio">
									                <% if @s.branch == "mech" %>
										                <input type="radio" name="student[branch]" id="optionsRadios2" value="mech" checked>
										                MECH
													<% else %>
														<input type="radio" name="student[branch]" id="optionsRadios2" value="mech">
										                MECH
														<% end %>
									              </label>
												
									            </div>
									          </div>
							
							
							
						</td>
						
						<td>
							
							<div class="control-group">
							            <label class="control-label" for="dob">Date Of Birth</label>
							            <div class="controls">
							              	<select class="input-small" name="student[m]">
								
									<option> - Month - </option>
									
											<% 
													months = ["January", "February", "March", "April", "May", "June", "August", "September", "October", "November", "December"]
													months.each do |m|
														
														
											%>
											
													<% if m == @s.m %>
														<option value="<%=m %>" selected><%=m%></option>
														<% else %>
											
													<option value="<%=m %>"><%=m%></option>
													<% end %>
											<% end %>
											</select>

											<select class="input-small" name="student[d]">
												<option> - Day - </option>
												<%
													day = 1
													31.times do 
														
														
												%>
												
													<% if day.to_i == @s.d.to_i %>
														<option value="<%=day%>" selected><%=day%></option>
														<% else %>
											
													<option value="<%=day%>"><%=day%></option>
													<% end %>
													
												
												<%
													day = day + 1
													end
												%>
											</select>

											<select class="input-small" name="student[y]">
												<option> - Year - </option>
												<%
													year = 1970
													
													30.times do
												%>
												
													<% if year == @s.y.to_i %>
													<option value="<%=year%>" selected="selected"><%=year%></option>
														<% else %>
											
													<option value="<%=year%>"><%=year%></option>
													<% end %>
													
												
													
													
												<%
													year = year + 1
												end
												%>
												
											</select>
							            </div>
							          </div>



									 <div class="control-group">
									            <label class="control-label">Gender</label>
									            <div class="controls">
									              <label class="radio">
											
									                <input type="radio" name="student[gender]" id="optionsRadios1" value="Male" <% if @s.gender == "Male" %> checked <% end %>>
									                Male
									              </label>
									              <label class="radio">
									                <input type="radio" name="student[gender]" id="optionsRadios2" value="Female" <% if @s.gender == "Female" %> checked <% end %>>
									                Female
									              </label>
									            </div>
									          </div>



												<div class="control-group">
												            <label class="control-label" for="dob">Year: </label>
												            <div class="controls">


																<select class="input-small" name="student[a_y1]">
																	<option> - From - </option>
																	<%
																		year = 2008

																		10.times do
																	%>

																		<option value="<%=year%>" <% if @s.a_y1.to_i == year %> selected<% end %>><%=year%></option>

																	<%
																		year = year + 1
																	end
																	%>

																</select> - 		<select class="input-small" name="student[a_y2]">
																		<option> - To - </option>
																		<%
																			year = 2008

																			10.times do
																		%>

																			<option value="<%=year%>" <% if @s.a_y2.to_i == year %> selected<% end %>><%=year%></option>

																		<%
																			year = year + 1
																		end
																		%>

																	</select>
												            </div>
												          </div>

											
							
							
							
						</td>
						
					</tr>
					
					<tr>
						
						<td>
							
							<h3>10th Boards</h3>

							<div class="control-group">
					            <label class="control-label">Board</label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[board_tenth]" value="<%= @s.board_tenth %>">

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Marks</label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[mark_tenth]" value="<%= @s.mark_tenth %>">

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Month Of Passing</label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[monthofpassing_tenth]" value="<%= @s.monthofpassing_tenth %>">

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Year Of Passing</label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[yearofpassing_tenth]" value="<%= @s.yearofpassing_tenth %>">

					            </div>
					          </div>

							
							
						</td>
						
						<td>
							
							<h3>12th Boards</h3>
							<div class="control-group">
					            <label class="control-label">Board</label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[board_twelth]" value="<%= @s.board_twelth %>">

					            </div>
					          </div>
							<div class="control-group">
					            <label class="control-label">Marks</label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[mark_twelth]" value="<%= @s.mark_twelth %>">

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Month Of Passing</label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[monthofpassing_twelth]" value="<%= @s.monthofpassing_twelth %>">

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Year Of Passing</label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[yearofpassing_twelth]" value="<%= @s.yearofpassing_twelth %>">

					            </div>
					          </div>

							
							
						</td>
						
					</tr>
					
					<tr>
						
						<td>
							
								<h3>Diploma If Any</h3>
								<div class="control-group">
						            <label class="control-label">College</label>
						            <div class="controls docs-input-sizes">
						              <input class="input" type="text"  name="student[coll_diploma]" value="<%= @s.coll_diploma %>">

						            </div>
						          </div>
								<div class="control-group">
						            <label class="control-label">Marks</label>
						            <div class="controls docs-input-sizes">
						              <input class="input" type="text"  name="student[diploma_mark]" value="<%= @s.diploma_mark %>">

						            </div>
						          </div>


								<div class="control-group">
						            <label class="control-label">Month Of Passing</label>
						            <div class="controls docs-input-sizes">
						              <input class="input" type="text"  name="student[diploma_month]" value="<%= @s.diploma_month %>">

						            </div>
						          </div>


								
						</td>
						
						<td>
							<div class="control-group">
					            <label class="control-label">Year Of Passing</label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[diploma_year]" value="<%= @s.diploma_year %>">

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Break of study if any.. No. of years: </label>
					            <div class="controls docs-input-sizes">
					              <input class="input" type="text"  name="student[break_y]" value="<%= @s.break_y %>">

					            </div>
					          </div>

									<div class="control-group">
							            <label class="control-label">Break of study if any.. reason: </label>
							            <div class="controls docs-input-sizes">
							              <textarea name="student[break_r]" rows="8" cols="40" value="<%= @s.break_r %>"></textarea>

							            </div>
							          </div>
							
						</td>
						
					</tr>
					
				</tbody>
			</table>

				

					 


						
							

						<h3>UG Semester Details</h3>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Semester</th>
									<th>GPA</th>
									<th>History Of Arrears</th>
									<th>Standing Arrears</th>
									<th>Semester</th>
									<th>GPA</th>
									<th>History Of Arrears</th>
									<th>Standing Arrears</th>

								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td>Semester 1</td>
									<td><input type="text" name="student[sem1_gpa]"  class="input-small" value="<%= @s.sem1_gpa %>"></td>
									<td><input type="text" name="student[sem1_a]"  class="input-small" value="<%= @s.sem1_a %>"></td>
									<td><input type="text" name="student[sem1_sa]"  class="input-small" value="<%= @s.sem1_sa %>"></td>
									<td>Semester 5</td>
									<td><input type="text" name="student[sem5_gpa]"  class="input-small" value="<%= @s.sem5_gpa %>"></td>
									<td><input type="text" name="student[sem5_a]"  class="input-small" value="<%= @s.sem5_a %>"></td>
									<td><input type="text" name="student[sem5_sa]"  class="input-small" value="<%= @s.sem5_sa %>"></td>
								</tr>
								<tr>
									<td>Semester 2</td>
									<td><input type="text" name="student[sem2_gpa]"  class="input-small" value="<%= @s.sem2_gpa %>"></td>
									<td><input type="text" name="student[sem2_a]"  class="input-small" value="<%= @s.sem2_a %>"></td>
									<td><input type="text" name="student[sem2_sa]"  class="input-small" value="<%= @s.sem2_sa %>"></td>
									<td>Semester 6</td>
									<td><input type="text" name="student[sem6_gpa]"  class="input-small" value="<%= @s.sem6_gpa %>"></td>
									<td><input type="text" name="student[sem6_a]"  class="input-small" value="<%= @s.sem6_a %>"></td>
									<td><input type="text" name="student[sem6_sa]"  class="input-small" value="<%= @s.sem6_sa %>"></td>
								</tr>
								<tr>
									<td>Semester 3</td>
									<td><input type="text" name="student[sem3_gpa]"  class="input-small" value="<%= @s.sem3_gpa %>"></td>
									<td><input type="text" name="student[sem3_a]"  class="input-small" value="<%= @s.sem3_a %>"></td>
									<td><input type="text" name="student[sem3_sa]"  class="input-small" value="<%= @s.sem3_sa %>"></td>
									<td>Semester 7</td>
									<td><input type="text" name="student[sem7_gpa]"  class="input-small" value="<%= @s.sem7_gpa %>"></td>
									<td><input type="text" name="student[sem7_a]"  class="input-small" value="<%= @s.sem7_a %>"></td>
									<td><input type="text" name="student[sem7_sa]"  class="input-small" value="<%= @s.sem7_sa %>"></td>
								</tr>
								<tr>
									<td>Semester 4</td>
									<td><input type="text" name="student[sem4_gpa]"  class="input-small" value="<%= @s.sem4_gpa %>"></td>
									<td><input type="text" name="student[sem4_a]"  class="input-small" value="<%= @s.sem4_a %>"></td>
									<td><input type="text" name="student[sem4_sa]"  class="input-small" value="<%= @s.sem4_sa %>"></td>
									<td>Semester 8</td>
									<td><input type="text" name="student[sem8_gpa]"  class="input-small" value="<%= @s.sem8_gpa %>"></td>
									<td><input type="text" name="student[sem8_a]"  class="input-small" value="<%= @s.sem8_a %>"></td>
									<td><input type="text" name="student[sem8_sa]"  class="input-small" value="<%= @s.sem8_sa %>"></td>
								</tr>
							</tbody>

							</table>


							 <div class="control-group">
							            <label class="control-label">At the end of the course: </label>
							            <div class="controls">
							              <label class="radio">
							                <input type="radio" name="student[eoc]" id="optionsRadios1" value="Pass" <% if @s.eoc == "Pass" %> checked<% end %>>
							                Passed
							              </label>
							              <label class="radio">
							                <input type="radio" name="student[eoc]" id="optionsRadios2" value="Fail" <% if @s.eoc == "Fail" %> checked<% end %>>
							                Failed
							              </label>
							            </div>
							          </div>


									<div class="control-group">
							            <label class="control-label">Overall CGPA</label>
							            <div class="controls docs-input-sizes">
							              <input class="input-small" type="text"  name="student[cgpa]" value="<%= @s.cgpa %>">

							            </div>
							          </div>

									<div class="control-group">
							            <label class="control-label">Total Arrears</label>
							            <div class="controls docs-input-sizes">
							              <input class="input-small" type="text"  name="student[tot_a]" value="<%= @s.tot_a %>">

							            </div>
							          </div>

										<hr />
										
										
										
										
										
											

										<h3>Summer Training / Inplant Training</h3>
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Name Of the Organization</th>
													<th>Duration</th>
													<th>Area Of Work</th>
													<th>No. Of Days</th>


												</tr>
											</thead>

											<tbody>
												<tr>

													<td><input type="text" name="student[imp1_n]"  class="input" value="<%= @s.imp1_n %>"></td>
													<td>From <input type="text" name="student[imp1_d_f]"  class="input-small" value="<%= @s.imp1_d_f %>">To<input type="text" name="student[imp1_d_t]"  class="input-small"></td>
													<td><textarea name="student[imp1_w]" rows="4" cols="40"><%= @s.imp1_w %></textarea>
														</td>
													<td><input type="text" name="student[imp1_dd]"  class="input-small" value="<%= @s.imp1_dd %>"></td>

												</tr>

												<tr>

													<td><input type="text" name="student[imp2_n]"  class="input" value="<%= @s.imp2_n %>"></td>
													<td>From <input type="text" name="student[imp2_d_f]"  class="input-small" value="<%= @s.imp2_d_f %>">To<input type="text" name="student[imp1_d_t]" value="<%= @s.imp2_d_t %>" class="input-small"></td>
													<td><textarea name="student[imp2_w]" rows="4" cols="40"><%= @s.imp2_w %></textarea></td>
													<td><input type="text" name="student[imp2_dd]"  class="input-small" value="<%= @s.imp2_dd %>"></td>

												</tr>


												<tr>

													<td><input type="text" name="student[imp3_n]"  class="input"></td>
													<td>From <input type="text" name="student[imp3_d_f]"  class="input-small" value="<%= @s.imp3_d_f %>">To<input type="text" name="student[imp1_d_t]" value="<%= @s.imp3_d_t %>" class="input-small"></td>
													<td><textarea name="student[imp3_w]" rows="4" cols="40"><%= @s.imp3_w %></textarea></td>
													<td><input type="text" name="student[imp3_dd]"  class="input-small" value="<%= @s.imp3_dd %>"></td>

												</tr>


											</tbody>

											</table>
									



											<br />
										<div class="control-group">
								            <label class="control-label">Electives in current course</label>
								            <div class="controls docs-input-sizes">
								              <textarea name="student[electives]" style="width:450px;height:100px;" ><%= @s.electives %></textarea>

								            </div>
								          </div>
								
								<br />
								<hr />

										<div class="control-group">
								            <label class="control-label">Mother Tongue</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[m_t]" value="<%= @s.m_t %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Languages to speak</label>
								            <div class="controls docs-input-sizes">
								              <textarea name="student[lang_speak]" style="width:450px;height:100px;" ><%= @s.lang_speak %></textarea>

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Languages to read</label>
								            <div class="controls docs-input-sizes">
								              <textarea name="student[lang_read]" style="width:450px;height:100px;" ><%= @s.lang_read %></textarea>

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Languages to understand</label>
								            <div class="controls docs-input-sizes">
								              <textarea name="student[lang_und]" style="width:450px;height:100px;" ><%= @s.lang_und %></textarea>

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Height</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[height]" value="<%= @s.height %>">

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Weight</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[weight]" value="<%= @s.weight %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Nationality</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[natl]" value="<%= @s.natl %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Passport Number</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[ppn]" value="<%= @s.ppn %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Valid Up to: </label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[pp_v]" value="<%= @s.pp_v %>">

								            </div>
								          </div>




										<div class="control-group">
								            <label class="control-label">Address for communication</label>
								            <div class="controls docs-input-sizes">
								              <textarea name="student[address]" style="width:450px;height:100px;" ><%= @s.address %></textarea>

								            </div>
								          </div>
								
											<div class="control-group">
									            <label class="control-label">Phone No. (L)</label>
									            <div class="controls docs-input-sizes">
									              <input class="input" type="text"  name="student[ph1]" value="<%= @s.ph1 %>">

									            </div>
									          </div>

										<div class="control-group">
								            <label class="control-label">Permanent Address</label>
								            <div class="controls docs-input-sizes">
								              <textarea name="student[add_p]" style="width:450px;height:100px;" ><%= @s.add_p %></textarea>

								            </div>
								          </div>


									


										<div class="control-group">
								            <label class="control-label">Phone No. (L)</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[ph2]" value="<%= @s.ph2 %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Mobile No.</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[mob]" value="<%= @s.mob %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Email Id</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[email]" value="<%= @s.email %>">

								            </div>
								          </div>

									<h3>Parents' Details</h3>

									<div class="control-group">
							            <label class="control-label">Father's name: </label>
							            <div class="controls docs-input-sizes">
							              <input class="input" type="text"  name="student[father_n]" value="<%= @s.father_n %>">

							            </div>
							          </div>

									<div class="control-group">
							            <label class="control-label">Occupation</label>
							            <div class="controls docs-input-sizes">
							              <input class="input" type="text"  name="student[father_o]" value="<%= @s.father_o %>">

							            </div>
							          </div>

									<div class="control-group">
							            <label class="control-label">Designation</label>
							            <div class="controls docs-input-sizes">
							              <input class="input" type="text"  name="student[father_d]" value="<%= @s.father_d %>">

							            </div>
							          </div>

										<div class="control-group">
								            <label class="control-label">Name and Address Of Organization</label>
								            <div class="controls docs-input-sizes">
								              <textarea name="student[father_org]" style="width:450px;height:100px;" ><%= @s.father_org %></textarea>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Phone No. With STD Code : (L)</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[father_ph]" value="<%= @s.father_ph %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Phone No. With STD Code : (M)</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[father_mob]" value="<%= @s.father_mob %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Father's Email Id: </label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[father_email]" value="<%= @s.father_email %>">

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Mother's Name</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[mother_n]" value="<%= @s.mother_n %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Occupation</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[mother_o]" value="<%= @s.mother_o %>">

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Designation</label>
								            <div class="controls docs-input-sizes">
								              <input class="input" type="text"  name="student[mother_d]" value="<%= @s.mother_d %>">

								            </div>
								          </div>

											<div class="control-group">
									            <label class="control-label">Name and Address Of Organization</label>
									            <div class="controls docs-input-sizes">
									              <textarea name="student[mother_org]" style="width:450px;height:100px;" ><%= @s.mother_org %></textarea>

									            </div>
									          </div>


											<div class="control-group">
									            <label class="control-label">Phone No. With STD Code : (L)</label>
									            <div class="controls docs-input-sizes">
									              <input class="input" type="text"  name="student[mother_ph]" value="<%= @s.mother_ph %>">

									            </div>
									          </div>

											<div class="control-group">
									            <label class="control-label">Phone No. With STD Code : (M)</label>
									            <div class="controls docs-input-sizes">
									              <input class="input" type="text"  name="student[mother_mob]" value="<%= @s.mother_mob %>">

									            </div>
									          </div>

											<div class="control-group">
									            <label class="control-label">Mother's Email Id: </label>
									            <div class="controls docs-input-sizes">
									              <input class="input" type="text"  name="student[mother_email]" value="<%= @s.mother_email %>">

									            </div>
									          </div>


											<div class="control-group">
									            <label class="control-label">Student Activities (description in words, should have proof for claim)</label>
									            <div class="controls docs-input-sizes">
									              <textarea name="student[activities]" style="width:450px;height:100px;" ><%= @s.activities %></textarea>

									            </div>
									          </div>


											<div class="control-group">
											            <label class="control-label">Stay</label>
											            <div class="controls">
											              <label class="radio">
											                <input type="radio" name="student[stay]" id="optionsRadios1" value="Hostel" <% if @s.stay == "Hostel" %> checked<% end %>>
											                Hosteler
											              </label>
											              <label class="radio">
											                <input type="radio" name="student[stay]" id="optionsRadios2" value="Day Scholar" <% if @s.stay == "Day Scholar" %> checked<% end %>>
											                Day Scholar
											              </label>
															<label class="radio">
												                <input type="radio" name="student[stay]" id="optionsRadios2" value="PG Outside" <% if @s.stay == "PG Outside" %> checked<% end %>>
												                PG Outside
												              </label>
											            </div>
											          </div>

													<div class="control-group">
													            <label class="control-label">Placement Options</label>
													            <div class="controls">
													              <label class="radio">
													                <input type="radio" name="student[pl]" id="optionsRadios1" value="Yes" <% if @s.pl == "Yes" %> checked<% end %>>
													                Yes
													              </label>
													              <label class="radio">
													                <input type="radio" name="student[pl]" id="optionsRadios2" value="No" <% if @s.pl == "No" %> checked<% end %>>
													                No
													              </label>

													            </div>
													          </div>
													
															<div class="control-group">
													            <label class="control-label">If No, Reason:</label>
													            <div class="controls docs-input-sizes">
													              <textarea name="student[no_res]" rows="4" cols="70" ><%= @s.no_res %></textarea>

													            </div>
													          </div>
													
													
															<label class="checkbox">
															          <input type="checkbox" id="tE" onchange="toggleStatus()" > I hereby confirm that all the information provided by me is true.
															        </label>



			        </fieldset>
					<div class="form-actions">
					            <button type="submit" class="btn btn-primary" id="sB" disabled="disabled">Submit</button>
					            <button class="btn">Cancel</button>
					          </div>

			      </form>
		</div>
		
	</div>
	
	
</body>
</html>