<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Student Info</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30701304-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div class="container">
	
		<div class="row">
			<h1>Student Info</h1>
			
			
			
			
			
		</div>
		<br />
		<div class="row">
			<form class="form-horizontal" action="#" method="post">
				<input type="hidden" name="_method" value="put" />
			        <fieldset>
			          
			
			<table class="table table-striped">
				
				<tbody>
					<tr>
						<td>
							
								<div class="control-group">
						            <label class="control-label">Student Name</label>
						            <div class="controls docs-input-sizes">
						              <strong><strong><%= @s.name %></strong></strong>
						            </div>
						          </div>

								<div class="control-group">
						            <label class="control-label">Registration Number</label>
						            <div class="controls docs-input-sizes">
						              <strong><strong><%= @s.regno %></strong></strong>

						            </div>
						          </div>


									 <div class="control-group">
									            <label class="control-label">Branch</label>
									            <div class="controls">
									              <strong><strong><%= @s.branch %></strong></strong>
												
									            </div>
									          </div>
							
							
							
						</td>
						
						<td>
							
							<div class="control-group">
							            <label class="control-label" for="dob">Date Of Birth</label>
							            <div class="controls">
								
											<strong><strong><%=@s.d%></strong>/<strong><%=@s.m%></strong>/<strong><%=@s.y%></strong></strong>
							              	

											
							            </div>
							          </div>



									 <div class="control-group">
									            <label class="control-label">Gender</label>
									            <div class="controls">
									              <strong><%= @s.gender %></strong>
									            </div>
									          </div>



												<div class="control-group">
												            <label class="control-label" for="dob">Year: </label>
												            <div class="controls">

																	<strong><%= @s.a_y1 %></strong> - <strong><%= @s.a_y2 %></strong>
																
												            </div>
												          </div>

											
							
							
							
						</td>
						
					</tr>
					
					<tr>
						
						<td>
							
							<h3>10th Boards</h3>

							<div class="control-group">
					            <label class="control-label">Board</label>
					            <div class="controls docs-input-sizes">
					              <strong><%= @s.board_tenth %></strong>

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Marks</label>
					            <div class="controls docs-input-sizes">
					              <strong><%= @s.mark_tenth %></strong>

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Month Of Passing</label>
					            <div class="controls docs-input-sizes">
					              <strong><%= @s.monthofpassing_tenth %></strong>

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Year Of Passing</label>
					            <div class="controls docs-input-sizes">
					             <strong><%= @s.yearofpassing_tenth %></strong>

					            </div>
					          </div>

							
							
						</td>
						
						<td>
							
							<h3>12th Boards</h3>
							<div class="control-group">
					            <label class="control-label">Board</label>
					            <div class="controls docs-input-sizes">
					              <strong><%= @s.board_twelth %></strong>

					            </div>
					          </div>
							<div class="control-group">
					            <label class="control-label">Marks</label>
					            <div class="controls docs-input-sizes">
					              <strong><%= @s.mark_twelth %></strong>

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Month Of Passing</label>
					            <div class="controls docs-input-sizes">
					              <strong><%= @s.monthofpassing_twelth %></strong>

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Year Of Passing</label>
					            <div class="controls docs-input-sizes">
					              <strong><%= @s.yearofpassing_twelth %></strong>

					            </div>
					          </div>

							
							
						</td>
						
					</tr>
					
					<tr>
						
						<td>
							
								<h3>Diploma If Any</h3>
								<div class="control-group">
						            <label class="control-label">College</label>
						            <div class="controls docs-input-sizes">
						             <strong><%= @s.coll_diploma %></strong>

						            </div>
						          </div>
								<div class="control-group">
						            <label class="control-label">Marks</label>
						            <div class="controls docs-input-sizes">
						              <strong><%= @s.diploma_mark %></strong>

						            </div>
						          </div>


								<div class="control-group">
						            <label class="control-label">Month Of Passing</label>
						            <div class="controls docs-input-sizes">
						              <strong><%= @s.diploma_month %></strong>

						            </div>
						          </div>


								
						</td>
						
						<td>
							<div class="control-group">
					            <label class="control-label">Year Of Passing</label>
					            <div class="controls docs-input-sizes">
					              <strong><%= @s.diploma_year %></strong>

					            </div>
					          </div>


							<div class="control-group">
					            <label class="control-label">Break of study if any.. No. of years: </label>
					            <div class="controls docs-input-sizes">
					             <strong><%= @s.break_y %></strong>

					            </div>
					          </div>

									<div class="control-group">
							            <label class="control-label">Break of study if any.. reason: </label>
							            <div class="controls docs-input-sizes">
							             <strong><%= @s.break_r %></strong>

							            </div>
							          </div>
							
						</td>
						
					</tr>
					
				</tbody>
			</table>

				

					 


						
							

						<h3>UG Semester Details</h3>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Semester</th>
									<th>GPA</th>
									<th>History Of Arrears</th>
									<th>Standing Arrears</th>
									<th>Semester</th>
									<th>GPA</th>
									<th>History Of Arrears</th>
									<th>Standing Arrears</th>

								</tr>
							</thead>

							<tbody>
								<tr>
									<td>Semester 1</td>
									<td><strong><%= @s.sem1_gpa %></strong></td>
									<td><strong><%= @s.sem1_a %></strong></td>
									<td><strong><%= @s.sem1_sa %></strong></td>
									<td>Semester 5</td>
									<td><strong><%= @s.sem5_gpa %></strong></td>
									<td><strong><%= @s.sem5_a %></strong></td>
									<td><strong><%= @s.sem5_sa %></strong></td>
								</tr>
								<tr>
									<td>Semester 2</td>
									<td><strong><%= @s.sem2_gpa %></strong></td>
									<td><strong><%= @s.sem2_a %></strong></td>
									<td><strong><%= @s.sem2_sa %></strong></td>
									<td>Semester 6</td>
									<td><strong><%= @s.sem6_gpa %></strong></td>
									<td><strong><%= @s.sem6_a %></strong></td>
									<td><strong><%= @s.sem6_sa %></strong></td>
								</tr>
								<tr>
									<td>Semester 3</td>
									<td><strong><%= @s.sem3_gpa %></strong></td>
									<td><strong><%= @s.sem3_a %></strong></td>
									<td><strong><%= @s.sem3_sa %></strong></td>
									<td>Semester 7</td>
									<td><strong><%= @s.sem7_gpa %></strong></td>
									<td><strong><%= @s.sem7_a %></strong></td>
									<td><strong><%= @s.sem7_sa %></strong></td>
								</tr>
								<tr>
									<td>Semester 4</td>
									<td><strong><%= @s.sem4_gpa %></strong></td>
									<td><strong><%= @s.sem4_a %></strong></td>
									<td><strong><%= @s.sem4_sa %></strong></td>
									<td>Semester 8</td>
									<td><strong><%= @s.sem8_gpa %></strong></td>
									<td><strong><%= @s.sem8_a %></strong></td>
									<td><strong><%= @s.sem8_sa %></strong></td>
								</tr>
							</tbody>

							</table>


							 <div class="control-group">
							            <label class="control-label">At the end of the course: </label>
							            <div class="controls">
							              <strong><%= @s.eoc %></strong>
							            </div>
							          </div>


									<div class="control-group">
							            <label class="control-label">Overall CGPA</label>
							            <div class="controls docs-input-sizes">
							              <strong><%= @s.cgpa %></strong>

							            </div>
							          </div>

									<div class="control-group">
							            <label class="control-label">Total Arrears</label>
							            <div class="controls docs-input-sizes">
							              <strong><%= @s.tot_a %></strong>

							            </div>
							          </div>

										<hr />
										
										
										
										
										
											

										<h3>Summer Training / Inplant Training</h3>
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Name Of the Organization</th>
													<th>Duration</th>
													<th>Area Of Work</th>
													<th>No. Of Days</th>


												</tr>
											</thead>

											<tbody>
												<tr>

													<td><strong><%= @s.imp1_n %></strong></td>
													<td>From <strong><%= @s.imp1_d_f %></strong>To <strong><%= @s.imp1_d_t %></strong></td>
													<td><strong><%= @s.imp1_w %></strong>
														</td>
													<td><strong><%= @s.imp1_dd %></strong></td>

												</tr>

												<tr>

													<td><strong><%= @s.imp2_n %></strong></td>
													<td>From <strong><%= @s.imp2_d_f %></strong> To <strong><%= @s.imp2_d_t %></strong></td>
													<td><strong><%= @s.imp2_w %></strong></td>
													<td><strong><%= @s.imp2_dd %></strong></td>

												</tr>


												<tr>

													<td><strong><%= @s.imp3_n %></strong></td>
													<td>From <strong><%= @s.imp3_d_f %></strong> To <strong><%= @s.imp3_d_t %></strong></td>
													<td><strong><%= @s.imp3_w %></strong></td>
													<td><strong><%= @s.imp3_dd %></strong></td>

												</tr>


											</tbody>

											</table>
									



											<br />
										<div class="control-group">
								            <label class="control-label">Electives in current course</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.electives %></strong>

								            </div>
								          </div>
								
								<br />
								<hr />

										<div class="control-group">
								            <label class="control-label">Mother Tongue</label>
								            <div class="controls docs-input-sizes">
								             <strong><%= @s.m_t %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Languages to speak</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.lang_speak %></strong>

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Languages to read</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.lang_read %></strong>

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Languages to understand</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.lang_und %></strong>

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Height</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.height %></strong>

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Weight</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.weight %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Nationality</label>
								            <div class="controls docs-input-sizes">
								             <strong><%= @s.natl %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Passport Number</label>
								            <div class="controls docs-input-sizes">
								            <strong><%= @s.ppn %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Valid Up to: </label>
								            <div class="controls docs-input-sizes">
								             <strong><%= @s.pp_v %></strong>

								            </div>
								          </div>




										<div class="control-group">
								            <label class="control-label">Address for communication</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.address %></strong>

								            </div>
								          </div>
								
											<div class="control-group">
									            <label class="control-label">Phone No. (L)</label>
									            <div class="controls docs-input-sizes">
									             <strong><%= @s.ph1 %></strong>

									            </div>
									          </div>

										<div class="control-group">
								            <label class="control-label">Permanent Address</label>
								            <div class="controls docs-input-sizes">
								             <strong><%= @s.add_p %></strong>
								            </div>
								          </div>


									


										<div class="control-group">
								            <label class="control-label">Phone No. (L)</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.ph2 %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Mobile No.</label>
								            <div class="controls docs-input-sizes">
								             <strong><%= @s.mob %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Email Id</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.email %></strong>

								            </div>
								          </div>

									<h3>Parents' Details</h3>

									<div class="control-group">
							            <label class="control-label">Father's name: </label>
							            <div class="controls docs-input-sizes">
							             <strong><%= @s.father_n %></strong>

							            </div>
							          </div>

									<div class="control-group">
							            <label class="control-label">Occupation</label>
							            <div class="controls docs-input-sizes">
							              <strong><%= @s.father_o %></strong>

							            </div>
							          </div>

									<div class="control-group">
							            <label class="control-label">Designation</label>
							            <div class="controls docs-input-sizes">
							              <strong><%= @s.father_d %></strong>

							            </div>
							          </div>

										<div class="control-group">
								            <label class="control-label">Name and Address Of Organization</label>
								            <div class="controls docs-input-sizes">
								             <strong><%= @s.father_org %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Phone No. With STD Code : (L)</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.father_ph %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Phone No. With STD Code : (M)</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.father_mob %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Father's Email Id: </label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.father_email %></strong>

								            </div>
								          </div>


										<div class="control-group">
								            <label class="control-label">Mother's Name</label>
								            <div class="controls docs-input-sizes">
								              <strong><%= @s.mother_n %></strong>
								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Occupation</label>
								            <div class="controls docs-input-sizes">
								             <strong><%= @s.mother_o %></strong>

								            </div>
								          </div>

										<div class="control-group">
								            <label class="control-label">Designation</label>
								            <div class="controls docs-input-sizes">
								             <strong><%= @s.mother_d %></strong>

								            </div>
								          </div>

											<div class="control-group">
									            <label class="control-label">Name and Address Of Organization</label>
									            <div class="controls docs-input-sizes">
									              <strong><%= @s.mother_org %></strong>

									            </div>
									          </div>


											<div class="control-group">
									            <label class="control-label">Phone No. With STD Code : (L)</label>
									            <div class="controls docs-input-sizes">
									              <strong><%= @s.mother_ph %></strong>

									            </div>
									          </div>

											<div class="control-group">
									            <label class="control-label">Phone No. With STD Code : (M)</label>
									            <div class="controls docs-input-sizes">
									              <strong><%= @s.mother_mob %></strong>

									            </div>
									          </div>

											<div class="control-group">
									            <label class="control-label">Mother's Email Id: </label>
									            <div class="controls docs-input-sizes">
									             <strong><%= @s.mother_email %></strong>

									            </div>
									          </div>


											<div class="control-group">
									            <label class="control-label">Student Activities (description in words, should have proof for claim)</label>
									            <div class="controls docs-input-sizes">
									              <strong><%= @s.activities %></strong>

									            </div>
									          </div>


											<div class="control-group">
											            <label class="control-label">Stay</label>
											            <div class="controls">
											             <strong><%= @s.stay %></strong>
											            </div>
											          </div>

													<div class="control-group">
													            <label class="control-label">Placement Options</label>
													            <div class="controls">
													              <strong><%= @s.pl %></strong>

													            </div>
													          </div>
													
															<div class="control-group">
													            <label class="control-label">If No, Reason:</label>
													            <div class="controls docs-input-sizes">
													              <strong><%= @s.no_res %></strong>

													            </div>
													          </div>
													
													
														



			        </fieldset>
					

			      </form>
		</div>
		
	</div>
	
	
</body>
</html>

